.profile__info{
    margin: 0 0 25px 30px;
    display: grid;
    max-width: 540px;
    grid-template-columns: repeat(2, auto);
    align-items: end;
    padding: 0 15px 0 0;
}
@media (max-width: 520px){
    .profile__info{
        margin: 22px auto 0;
        justify-content: center;
        padding: 0 0 0 0;
    }
}