.popup__title{
    max-width: 330px;
    margin: 28px 0 19px;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000;
}
@media (max-width: 417px){
    .popup__title{
        font-size: 18px;
        line-height: 22px;
        width: 238px;
        margin: 25px auto 45px;
    }
}