.popup-edit__container{
    margin: auto ;
    padding: 0 36px;
    display: flex;
    flex-direction: column;
    width: 430px;
    max-height: 330px;
    background: #fff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    box-sizing: border-box;
    position: relative;
}
@media (max-width:336px){
    .popup-edit__container{
        max-width: 282px;
        margin: auto;
        padding: 0 22px;
        max-height: 322px;
    }
} 