.popup-edit__close{
    background: transparent url(../../../img/Close-Icon.svg);
    width: 32px;
    height: 32px;
    border:none;
    background-size: cover;
    position: absolute;
    top: -40px;
    right: -40px;
    cursor: pointer;
    padding: 0;
}
.popup-edit__close:hover{
    opacity: 0.6;
}
@media (max-width: 768px){
    .popup-edit__close{
        right: 0;
        top: -32px;
        width: 20px;
        height: 20px;
    }
} 